*{
  margin: 0;
  padding: 0;

  font-family:"Roboto", sans-serif;

}

:root {
  /* Colors*/
  --color-primary: hsl(227, 75%, 78%);
  --Dark-Slate-Grey: hsl(240, 13%, 81%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
/* fonts*/
  --font-light: 400;
  --font-bold:700;
  --font-size: 16px;
  --font-family:  [Roboto](https://fonts.google.com/specimen/Roboto);
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;

  background-color: var(--Dark-Slate-Grey);

}
.container{
  display: flex;
  width: 800px;
  background-color:white;
  padding:30px;
  border-radius:30px;
}

.left-container{
  width: 50%;
}
.right-container{
  width:50%;
  margin-left: 5px;
}
.right-container img {
  width: 100%;
  height: 100%;

}
.left-container-heading{
  font-size: 45px;
  font-weight: 700;
  margin-top: 70px;
}

.left-container-text{
  margin-top: 20px;
  font-size: 0.9rem;
}
.left-container-list{
  list-style: none;
  font-size: 0.9rem;
  margin-top: 20px;
}
.left-container-list li{
  background-image: url(/assets/images/icon-success.svg);
  background-repeat: no-repeat;
  background-size: auto 16px;
  padding-left: 30px;
  margin: 14px 0;
}
.left-container-form{
  display:flex;
  flex-direction:column;
  width:300px;
  margin-top:40px;


}
.left-container-form-label{
  display:flex;
  justify-content:space-between;
}

.label{
  font-size: 0.9rem;
  font-weight:700;
}

.invalid-email{
  font-size:0.8rem;
  color: var(--color-primary);
}

.left-container-form-input{
  padding:15px;
  border-radius:7px;
  border: 1px solid rgb(183, 182, 182);
  margin-top:8px;
}

.left-container-form-button{
  padding:15px;
  color:white;
  background-color: hsl(234, 29%, 20%);
  border-radius:7px;
  border-style:none;
  margin-top:20px;
}

.left-container-form-button:hover{
  background-color: var(--color-primary);
  cursor: pointer;
}

.hide{
  display:none;
}
/* SUCCESSFUL MESSAGE PAGE */

.success-message-page{
  width:300px;
  background-color:white;
  padding:40px;
  color:hsl(234, 29%, 20%);
  border-radius: 30px;
}

.success-message-icon-container{
  width:50px;
  height:50px;
}

.success-message-icon{
  height:100%;
  width:100%;
}

.success-message{
  font-weight: 700;
  margin-top:30px;
  font-size: 2.5rem;
}

.success-text{
  font-size: 0.9rem;
  margin-top: 20px;

}

#received-email{
  font-weight:700;
}

.dismiss-button{
  background-color: hsl(234, 29%, 20%);

  color:white;
  border-radius:10px;
  width: 300px;
  padding:15px 0;
  font-size:0.9rem;
  margin-top:30px;
  border-style:none;
}

.dismiss-button:hover{
  background-color: rgb(255, 92, 92);
  cursor: pointer;
}


/* RESPONSIVE WEBPAGE */

@media(max-width:768px){
  .container{
      flex-direction:column-reverse;
      border-radius:0;
  }

  .left-container{
      width:100%;
  }

  .right-container{
      width:100%;
  }
}
